<?xml version="1.0"?>
<configuration>

  <location path="Manage.aspx">
    <system.web>
      <authorization>
        
        <deny  users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="AssetView.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators, Users, superadmin" />    
        <deny  users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="Admin/AdminDashboard.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrators, superadmin" />
        <deny  users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="AssetController.aspx">
    <system.web>
      <authorization>

        <deny  users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="Checkout.aspx">
    <system.web>
      <authorization>

        <deny  users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="OutCart.aspx">
    <system.web>
      <authorization>

        <deny  users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="WebApp.aspx">
    <system.web>
      <authorization>

        <deny  users="?"/>
      </authorization>
    </system.web>
  </location>

</configuration>
